<!DOCTYPE html>
<html>
<head>
    <title>Registrierung</title>
</head>
<body>
    <h1>Registrierung</h1>
    <form method="POST" action="{{ url_for('register') }}">
        <label for="first_name">Vorname:</label>
        <input type="text" id="first_name" name="first_name" required>
        <br>
        <label for="last_name">Nachname:</label>
        <input type="text" id="last_name" name="last_name" required>
        <br>
        <label for="email">E-Mail-Adresse:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="confirm_password">Passwort erneut eingeben:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br><br>
        <input type="submit" value="Registrieren">
    </form>
    <p><a href="{{ url_for('login') }}">Bereits registriert? Anmelden</a></p>
</body>
</html>
